.footer {
  padding: 30px 0;
  &__wrap {
    display: flex;
    width: 100%;
    &-left {
      display: flex;
    }
    &_-right {
      margin-left: auto;
      max-width: 450px;
    }
  }

  &__link {
    width: 185px;
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin: 5px 0;
  }
  &__description {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 30px;
  }
}
.footer__part {
  margin-right: 20px;
}

.footer__link:first-child {
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-transform: uppercase;
}
.footer__social {
  display: flex;
  &-link {
    margin: 5px;
    cursor: pointer;
    img {
      transition: transform 0.2s ease-out;
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}

@import "./mobileApp";
