.mobile {
  margin-top: 35px;
  background-color: #5875ff;
  &__img {
    position: relative;
    display: flex;
    img {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &__description {
    text-align: center;
    color: $color-wite;
    margin-left: 150px;
    padding: 9px 0 14px;
    &-title {
      font-size: 1.8rem;
      line-height: 2rem;
    }
    &-subtitle {
      font-size: 1.5rem;
      line-height: 1.8rem;
    }
  }
  &__app {
    margin-left: auto;
    display: flex;
    img + img {
      margin-left: 33px;
      margin-right: 15px;
    }
  }
}
