.credit__search {
  background-color: $color-wite;
  height: 250px;
  margin-top: -75px;
  border: 1px solid #dde1e4;
  border-radius: 2px;
}

.credit__header {
  margin: 38px 0 17px 38px;
  .subtitle {
    color: $color-grey;
    span {
      margin: 10px;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
  .title {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}

.credit__input {
  &-sum {
    label {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
}
.credit__input {
  display: flex;
  padding: 0 30px;
  &-sum {
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 0;
    height: 50px;
    width: 50%;
    border: 1px solid $color-grey;
    label {
      padding-left: 10px;
      font-size: 1.3rem;
      line-height: 18px;
      color: $color-grey;
    }
    input {
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}

.credit__footer {
  margin: 20px 30px;
  &-sort {
    display: flex;

    &__item {
      padding: 11px 9px;
      font-size: 1.3rem;
      line-height: 18px;
      border: 1px solid #dce0e3;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
      border-radius: 2px;
      margin-right: 10px;
      cursor: pointer;
      transition: 0.2s ease-out;
      &.active {
        background-color: #dce0e3;
      }

      &:hover {
        background-color: hsla(206, 11%, 88%, 0.401);
      }
    }
  }
}
