.news {
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 17px 20px;
    font-size: 1.6rem;
    line-height: 17px;
  }
  &__item {
    max-width: 285px;

    margin: 0 15px 15px;
    &-img {
    }
    &-title {
      padding-top: 20px;
      font-size: 1.6rem;
      line-height: 22px;
      color: $color-purple;
    }
  }
}

.news__content {
  display: flex;
}
